body {
    margin: 0;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#main-canvas {
    display: none;
    border: 1px solid black;
}

#game-menu {
    display: none;
}

#game-over {
    display: none;
}

p {
    font-size: 20px;
}

button {
    font-size: 15px;
    font-family: inherit;
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f969b2;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px 2px #e66e70;
    outline: none;
}

button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.selected {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.default {
    font-style: oblique;
    font-size: 13px;
}

#preview-label {
    font-size: 17px;
    margin-top: 30px;
}

#begin {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}